/* Base colors */
$color-accent: #0475D0;
$color-title-text: #FFFFFF;
$color-text: #353940;
$color-disabled-state: #2a2c32;
$color-blocks: #1F232B;
$color-background: #191D24;
$color-selection: rgba(4, 117, 208, 0.26);
