@import '../../styles/color-variabales';

.password-generator.header {
  padding: 48px 0 36px 0;
  color: $color-title-text;
  display: flex;
  justify-content: space-between;
}

.header__info-star {
  margin-right: 5px;
}

.header__info-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.blocks__wrapper {
  display: flex;
  justify-content: space-between;
}

.blocks__custom-checkboxes {
  display: flex;
  justify-content: space-between;
  min-width: 455px; // TODO: remove when adding media
  margin-bottom: 30px;
}

.password-generator.button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 59px;

  & button {
    margin: 40px 0 10px 0;
  }
}

.password-items {
  display: flex;
  gap: 6px;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 70px;
}

app-icon[type="star"] {
  fill: $color-title-text;
}

