<div class="password-generator">
  <div class="password-generator header">
    <p class="header__info">
      <span class="header__info-star">
        <app-icon type="star"></app-icon>
      </span>
      <span class="header__info-title">Online password generator</span><br>
      <span class="header__info-description">
        App created by <a appLink href="https://github.com/NikitaPO?tab=repositories">NikitaPO</a><br>
      </span>
    </p>
  </div>

  <div class="password-generator blocks">
    <form class="blocks__wrapper" [formGroup]="form">
      <app-block>
        <app-block-title>Strength</app-block-title>
        <app-block-description>
          Use <app-icon type="plus-box"></app-icon>&nbsp;<app-icon type="minus-box"></app-icon> for quick setup
        </app-block-description>
        <app-linear-selector formControlName="strength" [items]="linearSelectorItems"></app-linear-selector>
      </app-block>

      <app-block>
        <app-block-title>Custom</app-block-title>
        <app-block-description>Make custom password</app-block-description>
        <form [formGroup]="asFormGroup(form.controls['custom'])">
          <div class="blocks__custom-checkboxes">
            <app-checkbox formControlName="numbers" labelText="Numbers"></app-checkbox>
            <app-checkbox formControlName="uppercase" labelText="Uppercase"></app-checkbox>
            <app-checkbox formControlName="lowercase" labelText="Lowercase"></app-checkbox>
            <app-checkbox formControlName="symbols" labelText="Symbols"></app-checkbox>
          </div>
          <app-number formControlName="length" [min]="minLength" [max]="maxLength"></app-number>
        </form>
      </app-block>
    </form>
  </div>
  <div class="password-generator button-wrapper">
    <button appBtn="basic">
      <app-icon type="star"></app-icon> Generate
    </button>
    <div class="button-wrapper__bottom-text">
      Or press <app-icon type="return-arrow"></app-icon> ENTER
    </div>
  </div>
  <div class="password-generator password-items">
    <app-password-line
      *ngFor="let item of (generatedPasswords$ | async)"
      [password]="item.text"
      [difficulty]="item.difficulty"
    ></app-password-line>
  </div>
</div>
