<div class="password-generator">
  <div class="password-generator header">
    <p class="header__info">
      <span class="header__info-star">
        <app-icon type="star"></app-icon>
      </span>
      <span class="header__info-title">Online password generator</span><br>
      <span class="header__info-description">
        App created by <a link href="https://github.com/NikitaPO?tab=repositories">NikitaPO</a><br>
        Design created by <a link href="https://www.behance.net/ashsahakya159a">Asha Saakian</a>
      </span>
    </p>
    <div class="header__lang-control">
      en | ru
    </div>
  </div>
  <div class="password-generator blocks">

  </div>
  <div class="password-generator button-wrapper">

  </div>
  <div class="password-generator password-items">

  </div>
</div>
