@import "../../../styles/color-variabales";

:host {
  display: block;
  cursor: pointer;

  &:hover {
    .info-block__text {
      color: $color-title-text;
    }

    app-icon {
      stroke: $color-title-text;
    }
  }
}

.password-line__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 30px 12px 30px;
  background-color: $color-blocks;
  border-radius: 5px;

  transition: box-shadow .3s, background-color .3s, filter .3s;

  &:hover {
    background-color: rgba($color-text, 0.5);
  }
}

.password-line__password-text-wrapper {
  color: $color-title-text;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  max-width: 70%;
  width: 100%;

  & span {
    display: block;
  }
}

.password-text__content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
}

.password-line__info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 126px;
}

.info-block__text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: $color-text;
  transition: color .3s;
  margin-left: 10px;
}

.password-text__difficulty {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: $color-text;
  margin-left: 13px;
  display: inline-block;
}

app-icon[type="copy"] {
  stroke: $color-text;
  transition: stroke .3s;
}

@import "../../../styles/media";
