@import "../../../styles/color-variabales";

:host {
  padding: 17px 35px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

:host([appBtn='basic']) {
  background-color: $color-accent;
  color: $color-title-text;
  transition: filter .3s, box-shadow .3s;

  &:disabled {
    filter: grayscale(90%);
  }

  &:not([disabled]) {
    &:active {
      filter: grayscale(30%);
    }
  }
}

:host:not([disabled]) ::ng-deep .circle-element {
  display: block;
  position: absolute;
  transform: scale(0);
  border-radius: 50%;
  background-color: $color-title-text;
  animation: grow .5s linear forwards;
}

@keyframes grow {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
